.artiste {
    color: white;
    padding: 0rem 3rem 0rem 3rem;
}
.head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    align-items: center;
    padding: 0rem 8rem 0rem 8rem;
}
.head>h2 {
    font-weight: 300;
}
form {
    display: flex;
    flex-direction: column;
gap: 0.6rem;
}
label {
    font-size: 12px;
}
.select {
    font-size: 15px;
   padding-top: 5px;
   padding-bottom: 5px;
    padding-right: 9rem;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
   color: white;
    background: transparent;
    border: 2px solid #9132ea;
} 
.select:focus {
    outline: none;
}
option {
    background-color: black;
} 

.artiste>div>h2 {
    text-align: center;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1.4rem;
    color: white;
   
}
.artiste-body {
    display: flex;
    gap: 1rem;
 padding: 0rem;
    width: 100%;
    justify-content: space-between;
 /*   background: rgba(255, 255, 255, 0.5); */
}
.artiste-preview {
    display: flex;
    height: auto;
    flex-direction: column;
    width: 12rem;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    margin-bottom: 4rem;
}
.artiste-preview:hover {
    box-shadow: none;
}

.prev {
    padding: 0.6rem 0rem;
    display: flex;
    gap: .8rem;
    justify-content: center;
    align-items: center;
  flex-direction:column ;
}
.prev>img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
  border-radius: 999px;
}

.prev>div>h5:nth-of-type(1) {
    color: white;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: .6rem;
}
.prev>div>h5:nth-of-type(1) svg {
    background-color: #9132ea;
    color: white;
    border-radius: 50%;
}
.prev>div>h5:nth-of-type(2) {
    color: white;
    display: flex;
    align-items: baseline;
    justify-content: center;
  gap: 0.5rem;
    font-size: 15px;
    font-weight: 300;
}
.prev>div>h5:nth-of-type(2)>span {
    color: white;
    font-size: 16px;
    font-weight: 500;
    color: #9132ea;
}
.icons {
    display: flex;
    margin-top: 0.6rem;
    gap: 1rem;
    font-size: 1.18rem;
  
    justify-content: center;
}
.icons>svg:hover {
    color: #9132ea;
   
}
#light .icons>svg:hover {
    color: #000;
}

@media screen and (max-width:991px) {
.head {
    padding: 0rem 3rem 0rem 3rem; 
}
.prev>div>h5 {
    font-size: 1rem;
}
}

@media screen and (max-width:833px) {
    .artiste-body {
        flex-wrap: wrap;
        justify-content: center;
    }
   
}

@media screen and (max-width:768px) {
    .head {
        flex-direction: column;
    }
    .artiste {
        color: white;
        padding: 0rem 1rem 0rem 1rem;
    }

}


@media screen and (max-width:430px) {
.artiste-preview {
    width: 100%;
}
}


/*LIGHT MODE */

#light .head>h2 {
    color: black;
}
#light .select {
    color: black;
}

#light .artiste>div>h2 {
    color: #000;
}
#light .prev>div>h5:nth-of-type(1)  {
    color: black;
    font-weight: 400;
}
#light .prev>div>h5:nth-of-type(2) {
    color: black;
    font-weight: 400;
}
#light .prev>div>h5:nth-of-type(2)>span {
    font-weight: 500;
}
#light .icons {
    color: #9132ea;
}