
.footer {
    margin-top: 4rem;
     padding: 2rem 6rem 2rem 6rem;
     display: flex;
     flex-direction: column;
  
 }

 .first {
     display: flex;
  margin-bottom: 2rem;
     justify-content: center;
     align-items: baseline;
 gap: 3rem;
 
 }
 
 .footer .first>div:nth-of-type(1) {
     flex: 2;
     width: 100%;
     display: flex;
     flex-direction: column;
 
 }
 .logo-f {
     margin-bottom: 2rem;
 }
 .logo-f>img {
     width: 16rem;
     
 }
 #light .logo-f>img {
    filter: invert(0) brightness(0);
 } 
 .first>div:nth-of-type(1) p {
     color: rgba(255, 255, 255, 1);
     font-weight: 300;
     font-size: 15px;
     margin-bottom: 2.5rem;
 }
 #light  .first>div:nth-of-type(1) p  {
    color: black;
    font-weight: 400;
 }
 .first>div:nth-of-type(2) {
     flex: 1;
     width: 100%;
 
 }
 .first>div:nth-of-type(2) h3 {
 color: #9132ea;
     font-weight: 400;
     margin-bottom: .1rem;
     font-size: 18px;
 }
 .first>div:nth-of-type(2)>ul {
    display: flex;
    flex-direction: column;
 gap: 1rem;
 }
 .first>div:nth-of-type(2)>ul>li {
     list-style: none;
     color: rgba(255, 255, 255, 1);
 font-weight: 300;
 font-size: 15px;
  }
  #light  .first>div:nth-of-type(2)>ul>li {
    color: #000;
    font-weight: 400;
  }
 
  #light  .first>div:nth-of-type(3)>ul>li {
    color: #000;
    font-weight: 400;
  }
  #light  .first>div:nth-of-type(4)>ul>li {
    color: #000;
    font-weight: 400;
  }
  .first>div:nth-of-type(2)>ul>li:hover {
     opacity: .8;
  }
  .first>div:nth-of-type(3) {
     flex: 1;
  
     width: 100%;
 }
 .first>div:nth-of-type(3) h3 {
     color: #9132ea;
     font-weight: 400;
     font-size: 18px;
     margin-bottom: .1rem;
 }
 .first>div:nth-of-type(3)>ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
 }
 .first>div:nth-of-type(3)>ul>li {
     list-style: none;
     color: rgba(255, 255, 255, 1);
     font-weight: 300;
     font-size: 15px;
  }
  .first>div:nth-of-type(3)>ul>li:hover {
     opacity: .8;
  }
  .first>div:nth-of-type(4) {
     width: 100%;
 
     flex: 1;
 }
 .first>div:nth-of-type(4) h3 {
     color: #9132ea;
     text-transform: uppercase;
     font-weight: 400;
     font-size: 18px;
     margin-bottom: .1rem;
 }
 .first>div:nth-of-type(4)>ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
 }
 .first>div:nth-of-type(4)>ul>li {
     list-style: none;
     color: rgba(255, 255, 255, 1);
     font-weight: 300;
     font-size: 15px;
  }
  .first>div:nth-of-type(4)>ul>li:hover {
     opacity: .8;
  }
  .hr {
     border-bottom: 1px solid rgba(63, 62, 69, 1);
   margin-bottom: 2rem;
  }
 
 
  .second {
     display: flex;
     justify-content: space-between;
     margin: 0rem .6rem;
     color: white;
  }
  .second>div>h4 {
     font-weight: 300;
     font-size: 15px;
    color: white;
  }
  #light .second>div>h4 {
    color: #000;
    font-weight: 400;
  }
 .social {
     display: flex;
     gap: 1.5rem;
 }
  .social>li {
     list-style: none;
     display: flex;
    
  }
  .social img {
     width: 1.2rem;
  }
  #light .social img {
    filter: brightness(0) invert(0);
  }
 
 
  @media screen and (min-width:1200px) {
 .footer {
     height: auto;
 }
 }
 
  @media screen and (max-width:1100px) {
     .footer {
         padding: 4rem 2rem 2rem 2rem;
     }
  }
 
  @media screen and (max-width:991px) {
    .footer {
     flex-direction: column;
     padding: 4rem 0rem 2rem 0rem;
     justify-content: center;
    }
    .first {
     flex-direction: column;
     justify-content: center;
     text-align: center;
     gap: 0rem;
    }
    .second {
     flex-direction:column;
  margin: 0 auto;
  row-gap: 2rem;
    }
    .social img {
     width: 1.5rem;
    }
    .social {
     margin: 0 auto;
 
    }
    .first>div:nth-of-type(2)>ul {
     padding-left: 0rem;
    }
    .first>div:nth-of-type(3)>ul {
     padding-left: 0rem;
    }
    .first>div:nth-of-type(4)>ul {
     padding-left: 0rem;
    }
    .footer .first>div:nth-of-type(1) {
        margin-bottom: 2rem;
    }
 }